.gallery {
    margin: 2em;
    padding: 2em;
    padding-left: auto;
    padding-right: auto;
    border: 0.01em solid lightgray;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 1px lightgray;
    width: 100%;
    max-width: 1500px;
    box-sizing: border-box; 
}

.header {
    color: darkslategray;
    text-align: center;
    font-size: 4em;
    padding-bottom: 10px;
    border-bottom: 3px solid brown;
    text-shadow: 0 0 10px 1px lightgray;
}

.card {
    width: 335px;
    background-color: white;
    display: inline-block;
    padding: 16px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 3px;
}

.status-img {
    width:  300px;
    height: 250px;
}

.card-block {
    height: 60px;
    position: relative;
}

h4 {
    margin: 1px;
    padding: 1px;
}

.titel {
    color: gray;
}